body {
    background: #000000 url("../images/background.jpg") no-repeat fixed center;        
}

.bg-primary {
    background-color: #000000 !important;
}

.btn {
    cursor: pointer;
}

.card {
    margin-top: 10px;
}